<%- include('./partials/_header.ejs') %>
    <title>Home Page</title>
  </head </head <link rel="stylesheet" href="/stylesheet/style.css" include="/partials/_header" >
  <body class="py-1 px-1">
    <h1>Student Course Manager App.</h1>
    <p>Co<link rel="stylesheet" href="/stylesheet/style.css" include="/partials/_header" >urse Managment App.</p>
    <% if (user) { %>
      <h1>Welcome, <%= user.username %>!</h1>
      <p><a href="/courses">Courses</a></p>
      <p><a href="/students">Students</a></p>
      <p><a href="/auth/sign-out">Sign out</a></p>
    <% } else { %>
      <p><a href="/auth/sign-up">Sign up</a> or <a href="/auth/sign-in">sign in</a> to continue.</p>
    <% } %>
  </body>
</html>